<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp by Uva</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-background">
        <!-- utilizzo un container per lasciare libero il body -->
        <div class="head-background"></div> 
        <!-- creo div decorativo -->
        <div id="js-root">
            <!-- il div creato è utilizzato come finestra di attivazione js e per sfruttare il position -->

            <!-- SEZIONE LISTA DEI CONTATTI E MIO PROFILO -->
            <section class="container-contacts">
                <div class="top-nav">
                    <section class="section-profile">
                        <img src="img/avatar_2.jpg" alt="My Pic" class="pic-profile">
                        <div>Alessandro Uva</div>
                    </section>
                    <section class="section-options">
                        <ul class="list-options">
                            <li>
                                <i class="fa-solid fa-circle-notch"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-message"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-ellipsis"></i>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="bottom-nav">
                    <div class="icon-mute">   
                        <i class="fa-solid fa-bell-slash"></i>
                    </div> 
                    <div>
                        <div class="text-allert">
                            ricevi notifice di nuovi messaggi
                        </div>
                        <div class="text-allert link-active">
                            attiva notifiche desktop
                        </div>
                    </div>
                </div>
                <div class="container-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="search" id="search" placeholder="cerca o inizia una nuova chat">

                </div>
                <div class="container-list-contacts">
                    <ul class="list-contacts">
                        <li v-for="(element, index) in contacts" @click="openChat(index)" :class="counter === index ? 'open-chat' : ''">
                            <img :src="'img/avatar_'+element.proPic+'.jpg'" :alt="'pic '+ element.name " class="pic-profile" >
                            <div class="info-contact">
                                <div>{{ element.name }}</div> 
                                <p class="msg-preview">{{ element.message[element.message.length - 1].txtReply }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- SEZIONE CHAT ATTIVA -->
            <section class="container-chat">
                <!-- INFO CONTATTO -->
                <div class="head-chat">
                    <div  class="profile-active">
                        <img :src="'img/avatar_' + contacts[counter].proPic +'.jpg'" alt="pic Henri Kapidani" class="pic-profile">
                        <div class="info-contact">
                            <div class="name">{{contacts[counter].name}}</div>
                            <!-- <div class="date">funzione ora</div> TODO: -->
                        </div>
                    </div>

                    <ul class="list-options">
                        <li>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-paperclip"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </li>
                    </ul>
                </div>
                <!-- FINESTRA DELLA CONVERSAZIONE -->
                <div class="box-chat">
                    
                        <div v-for="(message,index) in contacts[counter].message"   class="widow-chat">
                            <div class="my-msg">
                                <div class="text-ms">{{message.txt}}</div> 
                                <div class="date-ms">{{message.hour}}</div>
                            </div>
                            <div class="reply">
                                <div class="text-ms">{{message.txtReply}}</div>
                                <div class="date-ms">{{message.hourReply}}</div>
                            </div>

                        </div>
                </div>

                <!-- COMPILATORE MESSAGGIO -->
                <div class="container-input">
                    <i class="fa-solid fa-face-grin-wide"></i>
                    <input type="text" name="text" id="js-text" class="input-text" placeholder="inserisci messaggio">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </section>

        </div>







    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>